@{
    ViewBag.Title = " Why choose CNCT? ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<html>
<body style="background-color:darkseagreen;">
    <p>Social media is an outlet that is used everywhere and by almost everyone. There are multiple platforms that people can share to with different purposes such as Facebook, Twitter, Instagram, and more. To share on all these platforms efficiently requires someone to be responsible for possibly more than one account on a platform and to switch applications or websites. From a business or content creating standpoint, it is ideal to be able to access and share on these platforms quickly and with ease. With CNCT Socials our goal is to provide users with an application allowing them to view and post to social media feeds from multiple platforms all in one interface.</p>
    <img src="~/Images/SocialMagnet.gif" alt="Magnet" width="400" height="4 00"
</body>
</html>