@{
    ViewBag.Title = " Why choose CNCT? ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<html>
    <center>
        <body style="background-color:skyblue;">
            <p><font size="5" style="color:white">Social media is an outlet that is used everywhere and by almost everyone. 
                                There are multiple platforms that people can share to with different 
                                purposes such as Facebook, Twitter, Instagram, and more. To share on 
                                all these platforms efficiently requires someone to be responsible 
                                for possibly more than one account on a platform and to switch applications 
                                or websites. From a business or content creating standpoint, it is ideal to 
                                be able to access and share on these platforms quickly and with ease. 
                                With CNCT Socials our goal is to provide users with an application allowing 
                                them to view and post to social media feeds from multiple platforms all in 
                                one interface.</font></p>
            <img src="~/Images/SocialMagnet.gif" alt="Magnet" width="300" height="300"
            <br />

    

                <div>
                    <form action="/action_page.php">
                        <input type="file" name="pic" accept="file_extension|image/*|video/*|media_type">
                        <input type="submit">
                    </form>

                    <form>
                        <img src="pic" alt="user pic" width="400" height="400">

                    </form>
                </div>
                <input accept="file_extension|audio/*|video/*|image/*|media_type">



        </body>
    </center>
</html>