@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1 style="color:maroon">CNCT Team</h1>
<address>
    3304 Patrick F Taylor Hall<br />
    Baton Rouge, LA 70803<br />
    Email: CNCTSOCIALS@gmail.com
</address>
<h3 style="color:black">Deric Masten - dmaste4@lsu.edu</h3>
<p>
    Third year at Louisiana State University.<br />
    Loves spending time with his wife<br />
    Always down for some hot wings
</p>
<img src="~/Images/DSC_0121.jpg" alt="Deric" width="400" height="600">

<h3>Alan Nguyen - angu172@lsu.edu</h3>
<p>
    Second year at Louisiana State University<br />
    Loves to game<br />
    Always has a craving for sushi
</p>
<img src="~/Images/schleep.jpg" alt="Alan" width="500" height="500">
<h3>Rachel Ferrara - rferra4@lsu.edu</h3>
<p>
    Fourth year at Louisiana State University<br />
    Loves to train her dog<br />
    Favorite food to grab is tacos
</p>
<img src="~/Images/RACHEL.jpg" alt="Rachel" width="500" height="500">
<h3>Stephen Watson - swats16@lsu.edu</h3>
<p>
    Fourth year at Louisiana State University<br />
    Loves to game<br />
    Knows where to find the best pizza
</p>
<h3>Seth Williamson - swil293@lsu.edu</h3>
<p>
    Second year at Louisiana State University<br />
    Loves to game<br />
    Pasta fanatic
</p>
<img src="~/Images/sethW.jpg" alt="Seth Williamson" height="250">
<h3>Seth Jackson - sjac116@lsu.edu</h3>
<p>
    Second year at Louisiana State University<br />
    Loves to build computers<br />
    Buffalo Wild Wings fanatic
</p>
<img src="~/Images/BigDude.jpg" alt="Seth" width="256" height="256">



<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
