    <center><h1 style="color:maroon">CNCT Team</h1></center>
    <center>
    <address>
        3304 Patrick F Taylor Hall<br />
        Baton Rouge, LA 70803<br />
        Email: CNCTSOCIALS@gmail.com
    </address>
    </center>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/DSC_0121.jpg" alt="Deric" width="350" height="400">
            <h3 style="color:black">Deric Masten - dmaste4@lsu.edu</h3>
            <p>
                Third year at Louisiana State University.<br />
                Loves spending time with his beautiful wife<br />
                Always down for some hot wings
            </p>
        </div>

        <div class="col-md-4">
            <img src="~/Images/alan.jpg" alt="Alan" width="300" height="400">

            <h3>Alan Nguyen - angu172@lsu.edu</h3>
            <p>
                Second year at Louisiana State University<br />
                Loves to game<br />
                Always has a craving for sushi
            </p>
        </div>

        <div class="col-md-4">
            <img src="~/Images/RACHEL.jpg" alt="Rachel" width="300" height="400">

            <h3>Rachel Ferrara - rferra4@lsu.edu</h3>
            <p>
                Fourth year at Louisiana State University<br />
                Loves to train her dog<br />
                Favorite food to grab is tacos
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/MrT(1).jpg" alt="TemporaryPic" width="200" height="350">

            <h3>Stephen Watson - swats16@lsu.edu</h3>
            <p>
                Fourth year at Louisiana State University<br />
                Loves video games and listening to music<br />
                Doritos are his passion
            </p>
        </div>

        <div class="col-md-4">
            <img src="~/Images/sethW.jpg" alt="Seth Williamson" height="250">

            <h3>Seth Williamson - swil293@lsu.edu</h3>
            <p>
                Second year at Louisiana State University<br />
                Loves to game<br />
                Pasta fanatic
            </p>
        </div>

        <div class="col-md-4">
            <img src="~/Images/BigDude.jpg" alt="Seth" width="256" height="256">

            <h3>Seth Jackson - sjac116@lsu.edu</h3>
            <p>
                Second year at Louisiana State University<br />
                Loves to build computers<br />
                Buffalo Wild Wings fanatic
            </p>
        </div>
    </div>
