@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="jumbotron" style="background-color:white" style="border-color:darkblue">
        <h1><center style="color:maroon">CNCT</center></h1>
        <center><p class="lead">Instead of heading out into the world, let the world come to you.</p></center>
        <center><p>Login to get started with CNCT!</p></center> 
    </div>

    <center><div class="row">
            <div class="col-md-4">
                <h2 style="color:maroon">Facebook</h2>
                <p>
                    Quick access straight to your facebook.
                </p>
                <p><a class="btn btn-default" href="https://www.facebook.com">Click Here &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="color:maroon">Twitter</h2>
                <p>Quick access to your Twitter.</p>
                <p><a class="btn btn-default" href="https://twitter.com">Tweet Tweet &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="color:maroon">Instagram</h2>
                <p>Quick access to your Instagram.</p>
                <p><a class="btn btn-default" href="https://www.instagram.com">Flex for the gram &raquo;</a></p>
            </div>
        </div>
    </center>
</div>
